
@font-face {
    font-family: 'Conv_ILGlyphsEx';
    src: url('fonts/ILGlyphsEx.eot');
    src: local('?'), url('fonts/ILGlyphsEx.woff') format('woff'), url('fonts/ILGlyphsEx.ttf') format('truetype'), url('fonts/ILGlyphsEx.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

.center,.center td{
    text-align:center;
}

.search_btn {
    position: relative;
    float: right;
    bottom: 9px;
    height: 38px !important;
}

OBJECT{display:none;}
/* images */
img {
    border: 0 none;
    vertical-align: top;
    max-width:100%;
}

.flicon{
  max-width:none;
}
img.imageInText {
    padding: 15px;
}

.fleft{
    float:left;
    margin: 0 15px 15px 0;
}

.fright{
    float:left;
    margin: 0 0 15px 15px;
}

img.imageInTextTop {
    margin: 0 10px 10px 10px;

}

.container{
  width:100%
}
.container #rightcol{
  padding: 7px 5px 5px 10px;
  width:100%;
  text-align:left;
}
  
.ifr_bh{
  width:380px;
  height:17000px;
  vertical-align:top;
  border: none;
  border-right: 1px dashed #c0c0c0; 
  padding-right:6px;   
 }  


/* header styles */
h1 {
    background: none repeat scroll 0 0 #d5dbe1;
    font: bold 22px Arial;
    margin: 0 -3px;
    padding: 10px 3px 10px 8px;
}
h2 {
    background: none repeat scroll 0 0 #dde3ea;
    font: bold 18px Arial;
    margin: 18px 0 8px;
    padding: 6px 0 6px 8px;
}
h3 {
    background: none repeat scroll 0 0 #e6ecf2;
    font: bold 16px Arial;
    margin: 24px 0 8px;
    padding: 4px 0 4px 8px;
}
h4 {
    background: none repeat scroll 0 0 #eff4fb;
    font: bold 14px Arial;
    margin: 24px 0 8px;
    padding: 3px 0 3px 8px;
}
hr {
    color: #cdd5dd;
    margin-top: 25px;
}
hr.blue-line {
    border: 9px dashed #adcbe2;
}

/* fonts */
strong {
    color: #3f3f3f;
    font-family: Arial;
    font-weight: bold;
}
/* paragraph styles */

body, td {
    background: none repeat scroll 0 0 white;
    color: #3f3f3f;
    font: 10pt Verdana;
    text-align: left;
    line-height: 160%;
}
p {
    line-height: 160%;
    margin: 6px 0px 6px 6px;
}
.justImages{
    margin: 15px;
}

.justImages iframe {
	max-width:100%;
}

a:link, a:visited {
    color: #3193f5;
    text-decoration: none;
}
a:active, a:hover {
    color: #ff5a00;
    cursor: pointer;
}
a {
    border-bottom: 1px dashed #0066c8;
}
a.extLink:after {
    background: url("img_glob/external_link.svg") no-repeat;
    content: "";
    display: inline-block;
    height: 10px;
    width: 10px;
    margin-left:4px;
}

.KbdShortcut:before {
    background: url("img_glob/global_kbd.svg") no-repeat;
    content: "";
    display: inline-block;
    height: 11px;
    width: 17px;
    margin: 0px 4px 0 1px;
}
a.link-img {
    border-bottom: 0 none;
}
.Indent {
    margin-left: 18px;
}
.Indent2 {
    margin-left: 36px;
}
.Indent3 {
    margin-left: 54px;
}
.Indent4 {
    margin-left: 72px;
}

/* list styles */

ol {
    line-height: 160%;
    margin: 6px 0 0 28px;
}
ul {
    line-height: 160%;
    list-style: none; 
    list-style-type:disc;
    margin: 6px 0 0 18px;
}

#frame_left ul{
    margin: 6px 0 0 10px;
    padding: 0 0 0 5px;    
}

ul p {
    line-height: 160%;
    margin: 5px 0;
    padding: 0;
}

ul ul {
    line-height: 160%;
    list-style-image: url("img_glob/listbullet2.gif");
}

#frame_left ul ul {
    padding: 0 0 0 16px;
}

ul ul ul {
    line-height: 160%;
    list-style-image: url("img_glob/listbullet3.gif");
}

#frame_left ul ul ul{    
    padding: 0 0 0 16px;
}

li {
    line-height: 160%;
    margin: 15px 0 10px;
}


.liNoStyle{
    list-style: none; 
}

/* classes */

.SubTopicOf {
    background: #c7ccd3;
    font-family: Verdana;
    font-size: 7pt;
    margin: -7px -3px 0;
    padding: 4px 3px;
}
.KbdShortcut {
    color: #3193f5;
    font-size: 9pt;
    font-weight: bold;
}
.TipInList {
    margin-top: -20px;
}
.blockquote {
    margin-left: 8px;
}
.ScreenshotNumber {
    color: #8b8b8b;
    font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
    font-size: 11pt;
    font-weight: 900;
    padding: 2px;
}
.BigDarkGray {
    color: #666666;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12pt;
    font-style: italic;
    font-weight: 600;
}
.CodeSample {
    color: #3e5160;
    font-family: "Courier New",Courier,monospace;
    font-size: 16px;
    font-weight: bold;
}

/* tables */

table {
    border-collapse: collapse;    
}

table.fixed{
	table-layout:fixed;
}
td {
    line-height: 150%;
    text-align: left;
    padding: 0px;
    vertical-align:top;
}
th {
    font-size: 11pt;
    text-align: left;
}

table.columns td{
    padding:15px;
}

table.cellPadding td{
    padding:5px;
}

table.tableList {
    border: 1px solid #e6ecf2;
    margin: 20px;
}
table.tableList td, table.tableList th {
    border: 1px solid #e6ecf2;
    padding: 5px;
}
table.tableList th {
    background:#eff4fb;
}

.table-body {
    border-left: 1px solid #6e6e6e;
    border-right: 1px solid #6e6e6e;
    display: none;
    padding: 5px;
}
.table-title {
    color: #25485b;
    font-family: Arial,Helvetica,sans-serif;
    font-weight: bold;
}
.table-titlenote {
    color: #25485b;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10px;
}
.table-header {
    text-align: left;
}
.fl-tbl {
    background-color: #eef4fb;
    border: 1px solid #98c0e7;
}
.fl-text {
    color: #3f3f3f;
    font: 8pt Verdana;
    text-align: left;
}
.fl-emph {
    color: #293e52;
    font-family: Verdana;
    font-size: 8pt;
    font-weight: bold;
    text-align: left;
}
.img-left {
    margin: 0 7px 0 0;
}


/* footer */
.navFooter{
    background:#d5dbe1;
}

.navFooter a{
    margin-right: 21px;  
}

.navFooter span{
    display:inline-block;
    vertical-align:top;
}
.navFooter label{
    display:block;
}

/*icons */

/* This defines the font size font: fontsize/line-hight */
.icon,.boxIcon,.textboxIcon,.listboxIcon,.h1boxIcon,.h3boxIcon {
    font-family: "Conv_ILGlyphsEx",sans-serif;
    font-style: normal;    
    padding: 0px;
    color:#3f3f3f;
    vertical-align:middle;
}

.boxIcon{
    height:64px;
    width:64px;
    display:inline-block;
    background:#e8e8e8; 
    font-size:38px;
    line-height:68px;
    text-align:center;
}

.textboxIcon{
    height:24px;
    width:24px;
    display:inline-block;
    background:#e8e8e8; 
    font-size:16px;
    line-height:24px;
    text-align:center;
}

.listboxIcon{
    height:40px;
    width:40px;
    display:inline-block;
    background:#e8e8e8; 
    font-size:24px;
    line-height:40px;
    text-align:center;
}

.h1boxIcon{
    height:25px;
    width:25px;
    display:inline-block;
    background:#d5dbe1; 
    font-size:16px;
    line-height:25px;
    text-align:center;
}

.h3boxIcon{
    height:20px;
    width:20px;
    display:inline-block;
    background:#e8e8e8; 
    font-size:16px;
    line-height:20px;
    text-align:center;
}


.i_add:before {
    content:"+";
}
.i_keyboardtopiano:before {
    content:"A";
}
.i_metronome:before {
    content:"B";
}
.i_stepediting:before {
    content:"C";
    font-size: 120%;
}
.i_scissors:before {
    content:"D";
    font-size: 94%;
}
.i_multilink:before {
    content:"E";
    font-size: 94%;
}
.i_groups:before {
    content:"F";
    font-size: 94%;
}
.i_autoscroll:before {
    content:"G";
    font-size: 94%;
}
.i_waitforinput:before {
    content:"H";
}
.i_countdown:before {
    content:"I";
    font-size: 106%;
}
.i_blendrecording:before {
    content:"J";
}
.i_looprecording:before {
    content:"K";
}
.i_online:before {
    content:"L";
}
.i_snap:before {
    content:"M";
    font-size: 128%;
}
.i_pluginbig:before {
    content:"N";
    font-size: 66%;
}
.i_fruit:before {
    content:"O";
    font-size: 84%;
}
.i_mainvolume:before {
    content:"Q";
}
.i_mainpitch:before {
    content:"R";
}
.i_midiinoff:before {
    content:"S";
}
.i_midiinunhandled:before {
    content:"T";
}
.i_midiinhandled:before {
    content:"U";
}
.i_sync:before {
    content:"V";
    font-size: 130%;
}
.i_voices:before {
    content:"W";
}
.i_cpu:before {
    content:"X";
}
.i_settings:before {
    content:"Y";
}
.i_pattern:before {
    content:"Z";
}
.i_testpattern:before {
    content:"`";
    font-size: 70%;
}
.i_submenu:before {
    content:"a";
}
.i_menucheck:before {
    content:"b";
}
.i_submenu:before {
    content:"c";
}
.i_menudrag:before {
    content:"d";
}
.i_menuwarning:before {
    content:"e";
}
.i_menucheckoff:before {
    content:"f";
}
.i_menucheckon:before {
    content:"g";
}
.i_bigcheckout:before {
    content:"h";
}
.i_bigcheckon:before {
    content:"i";
}
.i_smallcheckout:before {
    content:"j";
}
.i_crosscheck:before {
    content:"k";
}
.i_checkon:before {
    content:"l";
}
.i_close:before {
    content:"m";
}
.i_minimize:before {
    content:"n";
}
.i_maximized:before {
    content:"o";
}
.i_normal:before {
    content:"p";
}
.i_captionize:before {
    content:"q";
}
.i_folder:before {
    content:"r";
}
.i_play:before {
    content:"s";
}
.i_pause:before {
    content:"t";
}
.i_wait:before {
    content:"u";
}
.i_stop:before {
    content:"v";
}
.i_record:before {
    content:"w";
}
.i_download:before {
    content:"x";
}
.i_stepsequencer:before {
    content:"y";
}
.i_pianoroll:before {
    content:"z";
}
.i_browser:before {
    content:"\f000";
}
.i_playlist:before {
    content:"\f001";
}
.i_mixer:before {
    content:"\f002";
}
.i_info:before {
    content:"\f003";
}
.i_undo:before {
    content:"\f004";
}
.i_help:before {
    content:"\f005";
}
.i_audiorecording:before {
    content:"\f006";
}
.i_save:before {
    content:"\f007";
}
.i_render:before {
    content:"\f008";
}
.i_hintmidi:before {
    content:"\f009";
}
.i_hintrecord:before {
    content:"\f00a";
}
.i_hinthappy:before {
    content:"\f00b";
}
.i_hintrightclick:before {
    content:"\f00c";
}
.i_hintsad:before {
    content:"\f00d";
}
.i_hintback:before {
    content:"\f00e";
}
.i_hintffw:before {
    content:"\f00f";
}
.i_hintwarning:before {
    content:"\f010";
}
.i_hintwait:before {
    content:"\f011";
}
.i_hintrewind:before {
    content:"\f012";
}
.i_hintgroup:before {
    content:"\f013";
}
.i_hintpiano:before {
    content:"\f014";
}
.i_hintf1:before {
    content:"\f015";
}
.i_imageline:before {
    content:"\f016";
}
.i_pluginpicker:before {
    content:"\f01a";
}
.i_projectpicker:before {
    content:"\f01b";
}
.i_view:before {
    content:"\f01c";
}
.i_taptempo:before {
    content:"\f01d";
}
.i_previous:before {
    content:"\f01e";
}
.i_next:before {
    content:"\f01f";
}
.i_prpencil:before {
    content:"\f020";
}
.i_prslicing:before {
    content:"\f021";
}
.i_prmonobrush:before {
    content:"\f022";
}
.i_prselect:before {
    content:"\f023";
}
.i_przoom:before {
    content:"\f024";
}
.i_prdelete:before {
    content:"\f025";
}
.i_prpolybrush:before {
    content:"\f026";
}
.i_prsnap:before {
    content:"\f027";
}
.i_prstamp:before {
    content:"\f028";
}
.i_prpreview:before {
    content:"\f029";
}
.i_prmute:before {
    content:"\f02a";
}
.i_prtools:before {
    content:"\f02b";
}
.i_printerpolate:before {
    content:"\f02c";
}
.i_prslip:before {
    content:"\f02d";
}
.i_playlocal:before {
    content:"\f02e";
}
.i_prslide:before {
    content:"\f02f";
}
.i_prporta:before {
    content:"\f030";
}
.i_plaudio:before {
    content:"\f031";
}
.i_plauto:before {
    content:"\f032";
}
.i_plpattern:before {
    content:"\f033";
}
.i_markerloop:before {
    content:"\f036";
}
.i_markerskip:before {
    content:"\f037";
}
.i_markerpause:before {
    content:"\f038";
}
.i_markersongstart:before {
    content:"\f039";
}
.i_markersongloop:before {
    content:"\f03a";
}
.i_markerlength:before {
    content:"\f03b";
}
.i_browsercollapse:before {
    content:"\f046";
}
.i_browserreread:before {
    content:"\f047";
}
.i_prnoteslide:before {
    content:"\f048";
}
.i_prnoteporta:before {
    content:"\f049";
}
.i_prnoteoutside:before {
    content:"\f04a";
}
.i_plclipempty:before {
    content:"\f04b";
}
.i_plclipaudio:before {
    content:"\f04c";
}
.i_plclipscore:before {
    content:"\f04d";
}
.i_plclipevents:before {
    content:"\f04e";
}
.i_plclipsteps:before {
    content:"\f04f";
}
.i_plclipautomation:before {
    content:"\f050";
}
.i_plclipmuted:before {
    content:"\f051";
}
.i_plclipplaying:before {
    content:"\f052";
}
.i_plclipscheduled:before {
    content:"\f053";
}
.i_plclipgrouped:before {
    content:"\f054";
}
.i_closesmall:before {
    content:"\f05a";
}
.i_search:before {
    content:"\f05b";
}
.i_projectbig:before {
    content:"\f05c";
}
.i_arpoff:before {
    content:"\f05d";
}
.i_arpup:before {
    content:"\f05e";
}
.i_arpdown:before {
    content:"\f05f";
}
.i_arpupdown:before {
    content:"\f060";
}
.i_arpupdownsticky:before {
    content:"\f061";
}
.i_arprandom:before {
    content:"\f062";
}
.i_lfosine:before {
    content:"\f063";
}
.i_lfotriangle:before {
    content:"\f064";
}
.i_lfosquare:before {
    content:"\f065";
}
.i_wavmono:before {
    content:"\f066";
}
.i_wavstereo:before {
    content:"\f067";
}
.i_jumptobrowser:before {
    content:"\f068";
}
.i_plugtabplugin:before {
    content:"\f069";
}
.i_plugtabvst:before {
    content:"\f06a";
}
.i_plugtabsample:before {
    content:"\f06c";
}
.i_plugtabinstrument:before {
    content:"\f06d";
}
.i_plugtabfunctions:before {
    content:"\f06e";
}
.i_enveditor:before {
    content:"\f06f";
}
.i_on:before {
    content:"\f070";
}
.i_ilremote:before {
    content:"\f071";
}
.i_perfqueue:before {
    content:"\f072";
}
.i_cut:before {
    content:"\f073";
}
.i_copy:before {
    content:"\f074";
}
.i_paste:before {
    content:"\f075";
}
.i_viewsteps:before {
    content:"\f076";
}
.i_pickeradd:before {
    content:"\f077";
}
.i_pickerselect:before {
    content:"\f078";
}
.i_pickermark:before {
    content:"\f079";
}
.i_pickerup:before {
    content:"\f07a";
}
.i_addthick:before {
    content:"\f07b";
}
.i_menu:before {
    content:"\f07c";
}
.i_scan:before {
    content:"\f07d";
}
.i_frozen:before {
    content:"\f07e";
}
.i_searchsmall:before {
    content:"\f07f";
}
.i_frozenmark:before {
    content:"\f080";
}
.i_stretchscore:before {
    content:"\f081";
}
.i_channels:before {
    content:"\f082";
}
.i_arrange:before {
    content:"\f083";
}
.i_tweak:before {
    content:"\f084";
}
.i_mearpbreak1:before {
    content:"\f088";
}
.i_mearpbreak2:before {
    content:"\f089";
}
.i_mearpbreak3:before {
    content:"\f08a";
}
.i_mearpbreak4:before {
    content:"\f08b";
}
.i_mearpbreak5:before {
    content:"\f08c";
}
.i_mixerplugins:before {
    content:"\f08d";
}
.i_mixerrouteto:before {
    content:"\f08e";
}
.i_mixerroutetodis:before {
    content:"\f08f";
}
.i_mixerroutetobig:before {
    content:"\f090";
}
.i_mixerroutefrom:before {
    content:"\f091";
}
.i_mixerflipy:before {
    content:"\f092";
}
.i_mixerrevs:before {
    content:"\f093";
}
.i_mixerdelay:before {
    content:"\f094";
}
.i_mixerrecoff:before {
    content:"\f095";
}
.i_mixerrecon:before {
    content:"\f096";
}
.i_speakerl:before {
    content:"\f097";
}
.i_speakerr:before {
    content:"\f098";
}
.i_mixerwave:before {
    content:"\f099";
}
.i_mixeramptools:before {
    content:"\f09a";
}
.i_multitouch:before {
    content:"\f09b";
}
.i_width:before {
    content:"\f09c";
}
.i_tracksettings:before {
    content:"\f09d";
}
.i_eewav:before {
    content:"\f09e";
}
.i_eepan:before {
    content:"\f09f";
}
.i_eevol:before {
    content:"\f0a0";
}
.i_eess:before {
    content:"\f0a1";
}
.i_eeap:before {
    content:"\f0a2";
}
.i_envdecay:before {
    content:"\f0a3";
}
.i_envloop:before {
    content:"\f0a4";
}
.i_envsustain:before {
    content:"\f0a5";
}
.i_envarpdown:before {
    content:"\f0a6";
}
.i_envarpsame:before {
    content:"\f0a7";
}
.i_envarpup:before {
    content:"\f0a8";
}
.i_edisonmarkers:before {
    content:"\f0a9";
}
.i_edisonedit:before {
    content:"\f0aa";
}
.i_edisonfile:before {
    content:"\f0ab";
}
.i_edisonloop:before {
    content:"\f0ac";
}
.i_edisonautoslice:before {
    content:"\f0ad";
}
.i_edisonaddmarker:before {
    content:"\f0ae";
}
.i_edisondenoise:before {
    content:"\f0af";
}
.i_edisonscript:before {
    content:"\f0b0";
}
.i_edisonreverb:before {
    content:"\f0b1";
}
.i_edisonblur:before {
    content:"\f0b2";
}
.i_edisonnorm:before {
    content:"\f0b3";
}
.i_edisoneq:before {
    content:"\f0b4";
}
.i_edisondrag:before {
    content:"\f0b5";
}
.i_edisonsaveas:before {
    content:"\f0b6";
}
.i_edisonloop:before {
    content:"\f0b7";
}
.i_edisonfadein:before {
    content:"\f0b8";
}
.i_edisonfadeout:before {
    content:"\f0b9";
}
.i_edisontoplclip:before {
    content:"\f0ba";
}
.i_edisontrimsidenoise:before {
    content:"\f0bb";
}
.i_edisonclaw:before {
    content:"\f0bc";
}
.i_eeundo:before {
    content:"\f0bd";
}
.i_edisonscrub:before {
    content:"\f0be";
}
.i_edisonsoundoff:before {
    content:"\f0bf";
}
.i_edisonsoundon:before {
    content:"\f0c0";
}
.i_fullscreen:before {
    content:"\f0c1";
}
.i_random:before {
    content:"\f0c2";
}
.i_edisonautoscroll:before {
    content:"\f0c3";
}
.i_eeviewregions:before {
    content:"\f0c4";
}
.i_eeviewnoise:before {
    content:"\f0c5";
}
.i_eesnap:before {
    content:"\f0c6";
}
.i_eestep:before {
    content:"\f0c7";
}
.i_eeslide:before {
    content:"\f0c8";
}
.i_eeviewspectrum:before {
    content:"\f0c9";
}
.i_eeclickfree:before {
    content:"\f0ca";
}
.i_msgboxinformation:before {
    content:"\f0cb";
}
.i_msgboxwarning:before {
    content:"\f0cc";
}
.i_msgboxquestion:before {
    content:"\f0cd";
}
.i_unipolar:before {
    content:"\f0ce";
}
.i_bipolar:before {
    content:"\f0cf";
}
.i_shaperoundedsquare:before {
    content:"\f0d0";
}
.i_sbflp:before {
    content:"\f100";
}
.i_sbzip:before {
    content:"\f101";
}
.i_sbfst:before {
    content:"\f102";
}
.i_sbds:before {
    content:"\f103";
}
.i_sbss:before {
    content:"\f104";
}
.i_sbwav:before {
    content:"\f105";
}
.i_sbxi:before {
    content:"\f106";
}
.i_sbsslevels:before {
    content:"\f107";
}
.i_sbfsc:before {
    content:"\f108";
}
.i_pbscore:before {
    content:"\f109";
}
.i_pbautomation:before {
    content:"\f10a";
}
.i_pbremoteitem:before {
    content:"\f10b";
}
.i_sbsf:before {
    content:"\f10c";
}
.i_sbspeech:before {
    content:"\f10d";
}
.i_pbundo:before {
    content:"\f10e";
}
.i_unif10f:before {
    content:"\f10f";
}
.i_sbmp3:before {
    content:"\f110";
}
.i_sbunknown:before {
    content:"\f111";
}
.i_sbdw:before {
    content:"\f112";
}
.i_sbenv:before {
    content:"\f113";
}
.i_sbvst:before {
    content:"\f114";
}
.i_sbfolder:before {
    content:"\f115";
}
.i_sbplugins:before {
    content:"\f116";
}
.i_sbextrafolder:before {
    content:"\f117";
}
.i_sbpack:before {
    content:"\f118";
}
.i_pbproject:before {
    content:"\f119";
}
.i_sbhistory:before {
    content:"\f11a";
}
.i_sbogg:before {
    content:"\f11b";
}
.i_sbsm:before {
    content:"\f11c";
}
.i_sbmixer:before {
    content:"\f11d";
}
.i_sbchan:before {
    content:"\f11e";
}
.i_pbpat:before {
    content:"\f11f";
}
.i_pbredo:before {
    content:"\f120";
}
.i_sbslices:before {
    content:"\f121";
}
.i_sbgen:before {
    content:"\f122";
}
.i_sbfx:before {
    content:"\f123";
}
.i_pbhistory:before {
    content:"\f124";
}
.i_pbremote:before {
    content:"\f125";
}
.i_sbrendered:before {
    content:"\f126";
}
.i_sbrecorded:before {
    content:"\f127";
}
.i_sbuser:before {
    content:"\f128";
}
.i_sbgenitem:before {
    content:"\f129";
}
.i_sbfxitem:before {
    content:"\f12a";
}
.i_sbtext:before {
    content:"\f12b";
}
.i_sbimage:before {
    content:"\f12c";
}
.i_sbwv:before {
    content:"\f12d";
}
.i_sbflm:before {
    content:"\f12e";
}
.i_pbparameter:before {
    content:"\f12f";
}
.i_sbnew:before {
    content:"\f130";
}
.i_sbshop:before {
    content:"\f131";
}
.i_none:before {
    content:"\f400";
}
.i_dryguitar:before {
    content:"\f401";
}
.i_electricquitar:before {
    content:"\f402";
}
.i_violin:before {
    content:"\f403";
}
.i_snaredrum:before {
    content:"\f404";
}
.i_kickdrum:before {
    content:"\f405";
}
.i_cymbal:before {
    content:"\f406";
}
.i_bongos:before {
    content:"\f407";
}
.i_trumpet:before {
    content:"\f408";
}
.i_organ:before {
    content:"\f409";
}
.i_panflute:before {
    content:"\f40a";
}
.i_harp:before {
    content:"\f40b";
}
.i_pianokeyboard:before {
    content:"\f40c";
}
.i_trebleclef:before {
    content:"\f40d";
}
.i_bassclef:before {
    content:"\f40e";
}
.i_diapason:before {
    content:"\f40f";
}
.i_sawtoothsyntheszier:before {
    content:"\f410";
}
.i_pulsesyntheszier:before {
    content:"\f411";
}
.i_sample:before {
    content:"\f412";
}
.i_slicedloop:before {
    content:"\f413";
}
.i_speech:before {
    content:"\f414";
}
.i_malespeech:before {
    content:"\f415";
}
.i_femalespeech:before {
    content:"\f416";
}
.i_vocoder:before {
    content:"\f417";
}
.i_naturesounds:before {
    content:"\f418";
}
.i_moviescore:before {
    content:"\f419";
}
.i_effect:before {
    content:"\f41a";
}
.i_plugin:before {
    content:"\f41b";
}
.i_headphones:before {
    content:"\f41c";
}
.i_speaker:before {
    content:"\f41d";
}
.i_microphone:before {
    content:"\f41e";
}
.i_jackplug:before {
    content:"\f41f";
}
.i_cddvd:before {
    content:"\f420";
}
.i_in:before {
    content:"\f421";
}
.i_out:before {
    content:"\f422";
}
.i_joystickremotecontrol:before {
    content:"\f423";
}
.i_knobremotecontrol:before {
    content:"\f424";
}
.i_info:before {
    content:"\f425";
}
.i_visual:before {
    content:"\f426";
}
.i_trackrouting:before {
    content:"\f427";
}
.i_trackrouting:before {
    content:"\f428";
}
.i_question:before {
    content:"\f429";
}
.i_exclamation:before {
    content:"\f42a";
}
.i_good:before {
    content:"\f42b";
}
.i_bad:before {
    content:"\f42c";
}
.i_jetsetwilly:before {
    content:"\f42d";
}
.i_51front:before {
    content:"\f42e";
}
.i_51rear:before {
    content:"\f42f";
}
.i_51centersub:before {
    content:"\f430";
}
.i_71front:before {
    content:"\f431";
}
.i_71side:before {
    content:"\f432";
}
.i_71rear:before {
    content:"\f433";
}
.i_71centersub:before {
    content:"\f434";
}
.i_quadfront:before {
    content:"\f435";
}
.i_quadrear:before {
    content:"\f436";
}
.i_mono:before {
    content:"\f437";
}
.i_stereo:before {
    content:"\f438";
}
.i_stereoleft:before {
    content:"\f439";
}
.i_stereoright:before {
    content:"\f43a";
}
.i_one:before {
    content:"\f43b";
}
.i_two:before {
    content:"\f43c";
}
.i_three:before {
    content:"\f43d";
}
.i_four:before {
    content:"\f43e";
}
.i_five:before {
    content:"\f43f";
}
.i_six:before {
    content:"\f440";
}
.i_seven:before {
    content:"\f441";
}
.i_eight:before {
    content:"\f442";
}
.i_nine:before {
    content:"\f443";
}
.i_trackrouting:before {
    content:"\f444";
}
.i_trackrouting:before {
    content:"\f445";
}
.i_score:before {
    content:"\f446";
}
.i_melodicscore:before {
    content:"\f447";
}
.i_steps:before {
    content:"\f448";
}
.i_automation:before {
    content:"\f449";
}
.i_automation:before {
    content:"\f44a";
}
.i_audio:before {
    content:"\f44b";
}
.i_foreground:before {
    content:"\f44c";
}
.i_background:before {
    content:"\f44d";
}
.i_bell:before {
    content:"\f44e";
}
.i_triangle:before {
    content:"\f44f";
}
.i_gong:before {
    content:"\f450";
}
.i_glockenspiel:before {
    content:"\f451";
}
.i_compression:before {
    content:"\f452";
}
.i_additive:before {
    content:"\f453";
}
.i_subtractive:before {
    content:"\f454";
}
.i_fm:before {
    content:"\f455";
}
.i_sustaining:before {
    content:"\f456";
}
.i_plucked:before {
    content:"\f457";
}
.i_lp:before {
    content:"\f458";
}
.i_chimes:before {
    content:"\f459";
}
.i_banjo:before {
    content:"\f45a";
}
.i_flute:before {
    content:"\f45b";
}
.i_padlock:before {
    content:"\f45c";
}
.i_link:before {
    content:"\f45d";
}
.i_patch:before {
    content:"\f45e";
}
.i_wrench:before {
    content:"\f45f";
}
.i_midi:before {
    content:"\f460";
}
.i_happy:before {
    content:"\f461";
}
.i_sad:before {
    content:"\f462";
}
.i_time:before {
    content:"\f463";
}
.i_pencil:before {
    content:"\f464";
}
.i_forbidden:before {
    content:"\f465";
}
.i_magnifyingglass:before {
    content:"\f466";
}
.i_scissors2:before {
    content:"\f467";
}
.i_gear:before {
    content:"\f468";
}
.i_battery:before {
    content:"\f469";
}
.i_package:before {
    content:"\f46a";
}
.i_magnet:before {
    content:"\f46b";
}
.i_ugly:before {
    content:"\f46c";
}
.i_arpeggiato:before {
    content:"\f46d";
}
.i_folder:before {
    content:"\f46e";
}
.i_drummachine:before {
    content:"\f46f";
}
.i_whistle:before {
    content:"\f470";
}
.i_project:before {
    content:"\f471";
}
.i_lowpass:before {
    content:"\f472";
}
.i_highpass:before {
    content:"\f473";
}
.i_master:before {
    content:"\f474";
}
.i_eq:before {
    content:"\f475";
}
.i_send:before {
    content:"\f476";
}
.i_reverb:before {
    content:"\f477";
}
.i_saxophone:before {
    content:"\f478";
}
.i_cowbell:before {
    content:"\f479";
}
.i_wobbling:before {
    content:"\f47a";
}
.i_pads:before {
    content:"\f47b";
}
.i_touchscreen:before {
    content:"\f47c";
}
.i_buildingblock:before {
    content:"\f47d";
}
.i_hot:before {
    content:"\f47e";
}
.i_harmor:before {
    content:"\f47f";
}
.i_tambourine:before {
    content:"\f480";
}
.i_shaker:before {
    content:"\f481";
}

td {padding:0 6px;}
img.imageInTextTop{margin:0;}

@media (max-width:967px) {
  .ifr_bh{ width:220px}
    
}
@media (max-width:767px) {
  #rightcol .multiCol td{display: inherit;}  
}

@media (max-width:220px) {
  #frame_left ul, #frame_left ul ul, #frame_left ul ul ul{
    margin: 0 0 0 10px;
    padding: 0 0 0 5px;
    }
  #frame_left li{margin: 9px 0;}
}                   


                    