hr { color: #ffffff}
div,li,h1,h2,h3,h4,h5,h6,p,form{margin:0;padding:0;}
div.rvps1>div,div.rvps1>table{margin-left: auto;margin-right: auto;}
div.rvps2>div,div.rvps2>table{margin-left: auto;}
body {font: 14px verdana, geneva, arial, helvetica, sans-serif;color:#ffffff;margin:0px;}
#xm1.medium,#i_page_body.medium{font-size:17px;}
#xm1.large,#i_page_body.large{font-size:20px;}
.rvts0,td,p,h4,#xm1{font-size:14px;color:#ffffff;line-height:160%;vertical-align:top;text-align:left;}
.medium .rvts0,.medium td,.medium p,.medium h4{font-size:17px;}
.large .rvts0,.large td,.large p,.large h4{font-size:20px;}
a{color:#ff7629;text-decoration:none;}
a.rvts4,.rvts4{font-size:14px;color:#ff7629;text-decoration:none;line-height:160%;}
.medium .rvts4{font-size:17px;}
.large .rvts4{font-size:20px;}
a.rvts4:hover{color:#ff7629;text-decoration:underline;}
.rvts8{font-weight:normal;font-size:12px;color:#ffffff;}
.medium .rvts8{font-size:15px;}
.large .rvts8{font-size:18px;}
a.rvts12,.rvts12{font-size:12px;color:#ff7629;text-decoration:none;}
.medium .rvts12{font-size:15px;}
.large .rvts12{font-size:18px;}
a.rvts12:hover{color:#ff7629;text-decoration:underline;}
.rvts16{font-size:15px;color:#ffffff;}
.medium .rvts16{font-size:18px;}
.large .rvts16{font-size:21px;}
a.rvts20,.rvts20{font-size:15px;color:#0080c0;text-decoration:underline;}
.medium .rvts20{font-size:18px;}
.large .rvts20{font-size:21px;}
a.rvts20:hover{color:#000000;}
.rvts24{font-size:16px;color:#fffcfc;}
.medium .rvts24{font-size:19px;}
.large .rvts24{font-size:22px;}
a.rvts28,.rvts28{font-size:16px;color:#0080c0;text-decoration:underline;}
.medium .rvts28{font-size:19px;}
.large .rvts28{font-size:22px;}
a.rvts28:hover{color:#000000;}
.rvts32{font-size:19px;color:#ffffff;}
.medium .rvts32{font-size:22px;}
.large .rvts32{font-size:25px;}
a.rvts36,.rvts36{font-size:19px;color:#0080c0;text-decoration:underline;}
.medium .rvts36{font-size:22px;}
.large .rvts36{font-size:25px;}
a.rvts36:hover{color:#000000;}
h1,h1 a{font-weight:bold;font-size:19px;color:#000000;text-decoration: none;}
.medium .rvts40{font-size:22px;}
.large .rvts40{font-size:25px;}
h2,h2 a{font-weight:bold;font-size:16px;color:#ffffff;text-decoration: none;}
.medium .rvts41{font-size:19px;}
.large .rvts41{font-size:22px;}
h3,h3 a{font-weight:bold;font-size:15px;color:#000000;text-decoration: none;}
.medium .rvts42{font-size:18px;}
.large .rvts42{font-size:21px;}
h4,h4 a{font-weight:normal;font-size:12px;color:#000000;text-decoration: none;}
.medium .rvts43{font-size:15px;}
.large .rvts43{font-size:18px;}
h5,h5 a{font-weight:bold;font-size:11px;color:#000000;text-decoration: none;}
.medium .rvts44{font-size:14px;}
.large .rvts44{font-size:17px;}
h6,h6 a{font-weight:normal;font-size:11px;color:#000000;text-decoration: none;}
.medium .rvts45{font-size:14px;}
.large .rvts45{font-size:17px;}
.rvts48{font-size:24px;color:#95a8b8;}
.medium .rvts48{font-size:27px;}
.large .rvts48{font-size:30px;}
a.rvts52,.rvts52{font-size:24px;color:#adcbe2;text-decoration:underline;}
.medium .rvts52{font-size:27px;}
.large .rvts52{font-size:30px;}
a.rvts52:hover{color:#000000;}
.rvts56{font-size:12px;color:#000000;}
.medium .rvts56{font-size:15px;}
.large .rvts56{font-size:18px;}
a.rvts60,.rvts60{font-size:12px;color:#800000;text-decoration:underline;}
.medium .rvts60{font-size:15px;}
.large .rvts60{font-size:18px;}
a.rvts60:hover{color:#000000;}
.rvts64{font-size:14px;color:#95a8b8;}
.medium .rvts64{font-size:17px;}
.large .rvts64{font-size:20px;}
a.rvts68,.rvts68{font-size:14px;color:#000080;text-decoration:underline;}
.medium .rvts68{font-size:17px;}
.large .rvts68{font-size:20px;}
a.rvts68:hover{color:#000000;}
.rvts72{font-size:12px;color:#95a8b8;}
.medium .rvts72{font-size:15px;}
.large .rvts72{font-size:18px;}
a.rvts76,.rvts76{font-size:12px;color:#000080;text-decoration:underline;}
.medium .rvts76{font-size:15px;}
.large .rvts76{font-size:18px;}
a.rvts76:hover{color:#000000;}
.rvts80{font: 72px 'Century Gothic',Arial,Helvetica,Sans-Serif;color:#ffffff;}
.medium .rvts80{font-size:75px;}
.large .rvts80{font-size:78px;}
a.rvts84,.rvts84{font: 72px 'Century Gothic',Arial,Helvetica,Sans-Serif;color:#ff7629;text-decoration:none;}
.medium .rvts84{font-size:75px;}
.large .rvts84{font-size:78px;}
a.rvts84:hover{color:#ff7629;text-decoration:underline;}
li,.rvps0{text-align:left;text-indent: 0px;}
.rvps1{text-align:center;}
.rvps2{text-align:right;}
.rvps3{text-align:justify;}
.rvps5{text-indent: 13px;}
.rvps30,.rvps31,.rvps32,.rvps33{line-height: 160%;background: #39444e;padding:15px;margin:10px;border-radius: 2px;}
.rvps31{text-align:center;}
.rvps32{text-align:right;}
.rvps33{text-align:justify;}
/* runtime styles */
.input1 {vertical-align:middle;border: 1px solid #adcbe2;background: #F1F7FB;font: 10px Verdana, Geneva, Arial, Helvetica, sans-serif;color:#000000;}
.sub_t{font: 10px Verdana, Geneva, Arial, Helvetica, sans-serif;color:#000000;}
.pageheader{text-align:center;height:24px;}
.input1:focus{box-shadow: 0 0 2px #606060;}

.caption {font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;font-size:10px;color:#00000;vertical-align:middle;text-align:center}
.sub_b,.sub_t,.sub_bg{width:100%}
.wauto .sub_t,.wauto .sub_b,.wauto .sub_bg{width:auto;}
.cim{display:block;}
.clr{display:block;}

img{vertical-align:bottom;}
td,tr{padding:0;}

a{outline:none;}
form {padding:0px;display:inline;margin:0px;}
tr,td{vertical-align:top;}
input[type=radio],input[type=checkbox]{margin-bottom:4px;margin-right:3px;vertical-align:middle;}
.div_handle,.compare_btn{cursor:pointer;position:relative;text-align:left;}
.div_handle:after{content: "\25bc";font: 12px Arial, Helvetica, sans-serif;position: absolute;right: 2px;top: 50%;margin-top:-6px;}
.div_handle.div_open:after{content:"\25b2";}
.h_1:after{content: "\25bd";}
.h_1.div_open:after{content:"\25b3";}
.h_2:after{font-size:14px;content: "\22BB";}
.h_2.div_open:after{content:"\22BC";}
.h_3:after{content: "\22C1";}
.h_3.div_open:after{content:"\22C0";}
iframe,img{border:none;}
.ctrlup,.ctrldo{height:16px;width:16px;margin-right:1px;opacity:0.8;cursor:pointer;display:inline-block}
.no_u{text-decoration:none;}
.tip-text,.tip-text p,.tip-text span,.tip-text a{white-space:pre-line;word-wrap: break-word;}
.div_col{display:table-cell;vertical-align:top;*float:left;}
ul,ol,li{border:0px;padding:0px;margin:0px;}
.post_content ul{list-style-type:disc;}
.post_content ul,.post_content ol{list-style-position:outside;margin-left:12px;padding: 0 0 0 12px;}
.relh{position:relative;overflow:hidden;display:inline-block;}
.abs{position:absolute;top:0;left:0;}
.clear{clear:both;}
.nivo-slice{display:block;position:absolute;z-index:5;height:100%;top:0;}
.nivo-box{display:block;position:absolute;z-index:5;overflow:hidden;}
.bullet{vertical-align:middle;height:13px;width:13px;}
.mobile #content{padding: 0 5px;}
.liveFormInner,.captcha_container{list-style-type: none;}
form .small{width:25%;}
form .medium{width:50%;}
form .large{width: 98%;}
.right{text-align:right;}
.formhint{font-size:80%;margin-top:2px;}
.frmhint{text-decoration:none;}
.hidden,.fhidden{display:none !important;}
.tcloud{font-size:13px;list-style-type:none;}
.tcloud_em{font-size:14px;line-height:22px;list-style-type:none;}
.tcloud_px{font-family:arial;text-align:justify;line-height:23px;}
.tcloud li{display:inline;}
.tcloud li.alpha{display:block;}
.tcloud li a{text-decoration:none;margin-right:7px;white-space:nowrap;}
.tcloud li a:hover{text-decoration:underline}
.tcloud_px li a{margin:0;white-space:normal;}
.sidcol a{padding-left:3px;line-height:15px;text-decoration:none;text-transform:uppercase;}
.sidcoll{padding-left:13px;line-height:15px;}
.ver_cat_list_sub{margin-bottom:5px;list-style-type:none}
.emd:before{content: "";background: rgba(0, 0, 0, 0.6);position: fixed;top: 0;left: 0;right: 0;bottom: 0;z-index: 1001;}
.emd .emDlg{top: 20%;transform: translate(-50%, 0);}
.emDlg{font-family: helvetica,arial;background: #fefefe;border: #555555 solid 1px;border-radius: 6px;position: fixed;left: 50%;top: -100%;transform: translate(-50%, -500%);transition: transform 0.3s ease-out;z-index: 1111;width: 80%;max-width: 450px;}
.emBody{padding: 20px;}
.emFooter{padding: 15px 20px;text-align:right;}
.emBtn{border-radius: 3px;cursor: pointer;display:inline-block;font-size: 14px;min-width: 60px;padding: 8px 15px;position: relative;text-align: center;text-decoration: none;background:#428bca;border-color:#357ebd;color:#fff;}
.emBtn:hover,.emBtn:focus{background:#357ebd;}
.emd .emcloseBtn{position: absolute;right: 0px;cursor: pointer;}
.loginDef_input_container{position:relative;display:block;}
.loginDef_input_container .field{box-sizing: border-box;}
#icon_username:before{content: "\f007";}
#icon_password:before{content: "\f023";}  
.ezBookmark{text-decoration:none !important;}
.ca_form{width:35%}
.cfont{line-height:initial;}
@media screen and (max-width: 700px) {.ca_form{width:70%}}
@media screen and (max-width: 500px) {.ca_form{width:90%;}}
@media screen and (min-width:641px) {.loader_page{display:none}}
.fa{font-family: FontAwesome !important;}

.default,.default h2,.default a,.default a:visited{color:#0f1419;text-decoration:none;}
.default a:hover{color:gray;text-decoration:underline;}
.liveFormInner li{clear:both;margin: 1px 0 0 0;padding: 6px 5px 6px 2px;position:relative;}
.liveFormInner li.multi {clear: none;float: left;width: auto;}
label.desc, legend.desc{display:block;font-weight:bold;line-height:150%;margin: 0;padding: 0 0 3px;width: 100%;}
.fheader{padding:10px 0;border-bottom:1px dotted #CCCCCC;}
.ffooter{padding:10px 0;border-top:1px dotted #CCCCCC;}
.captcha_container{padding:10px 0;}
.labelsLeft .dragable .desc{float:left;width:30%;}
.labelsLeft .dragable div{width:68%;margin-left:30%;*margin-left:0;}
.labelsRight .dragable .desc{float:right;width:30%;text-align:right;}
.labelsRight .dragable div{width:68%;margin-right:30%;*margin-right:0;}
.labelsTopRight label,.labelsTopRight .formhint,.labelsTopRight .captcha,.labelsTopRight div,.labelsRight div,.labelsRight h2,.labelsTopRight h2{text-align:right;}
.labelsRight li.multi,.labelsTopRight li.multi{float:right}
.default h1{color: #c0c0c0;font-size: 24px;}
.default .emcloseBtn{margin: 4px;color: black;}
.default .loginDef_input_container .field{font:14px arial,helvetica,sans-serif;padding:4px 4px 4px 20px;}
.default #icon_username:before,.default #icon_password:before{font:15px FontAwesome;margin: 7px 0 0 5px;position: absolute;z-index: 4000;color:gray;}

.inputerror{border-color:red;}
.search_heading{font-weight:bold;}
.search_highlight{background: #none;}
.search_odd,.search_even{clear:left;margin: 12px 0;}
.search_content,.search_info{margin-left:17px;}
.search_info{font-style:italic;line-height:200%}
.search_container{margin: 10px 3px 0 0;width:99%;text-align:left;}
.search_title{margin: 3px 0;font-style:italic;line-height:200%;padding: 0 0 10px;z-index:2;}
.search_section{padding: 0 0 10px 5px;margin-bottom:4px;border-radius:4px;}
.search_p{padding: 0 0 6px 6px;}
.search_ld{width:210px;float:left}
.search_rd{margin:0 3px 0 210px;}
.search_ed{width:98%;}
.search_cmb{width:200px;}
.css_button{border:0;border-collapse:separate;-webkit-background-origin: border !important;-moz-background-origin: border !important;background-origin:border-box !important;}
a.css_button,a.css_button:visited,input.css_button,button.css_button{display:inline-block;vertical-align:middle;white-space:nowrap;overflow:visible;cursor: pointer;-webkit-box-sizing: content-box;-moz-box-sizing:content-box;box-sizing:content-box;position:relative;}
.input.css_button{float: none !important;}
.css_button i{text-decoration:none;margin-right:4px;}

.ul_0_0{padding: 0px 0px 0px 0px;margin: 0px 0px 0px 15px;margin-left:15px;padding: 0;list-style-position:outside;list-style-type:disc;}
.ul_0_1{margin-left:30px;padding: 0;list-style-type:disc;}
.ul_0_2{margin-left:30px;padding: 0;list-style-type:disc;}
.ul_0_3{margin-left:30px;padding: 0;list-style-type:disc;}

.ul_1_0{margin-left:20px;padding: 0;list-style-position:outside;list-style-type:decimal;}
.ul_1_1{margin-left:30px;padding: 0;list-style-type:decimal;}
.ul_1_2{margin-left:30px;padding: 0;list-style-type:decimal;}
.ul_1_3{margin-left:30px;padding: 0;list-style-type:decimal;}

.ul_2_0{margin-left:20px;padding: 0;list-style-position:inside;list-style-type:lower-alpha;}
.ul_2_1{margin-left:30px;padding: 0;list-style-type:lower-alpha;}
.ul_2_2{margin-left:30px;padding: 0;list-style-type:lower-alpha;}
.ul_2_3{margin-left:30px;padding: 0;list-style-type:lower-alpha;}

.ul_3_0{margin-left:20px;padding: 0;list-style-position:inside;list-style-type:lower-roman;}
.ul_3_1{margin-left:30px;padding: 0;list-style-type:lower-roman;}
.ul_3_2{margin-left:30px;padding: 0;list-style-type:lower-roman;}
.ul_3_3{margin-left:30px;padding: 0;list-style-type:lower-roman;}

.ul_4_0{margin-left:20px;padding: 0;list-style-position:inside;list-style-type:none;}
.ul_4_1{margin-left:30px;padding: 0;list-style-type:none;}
.ul_4_2{margin-left:30px;padding: 0;list-style-type:none;}
.ul_4_3{margin-left:30px;padding: 0;list-style-type:none;}
.hhint .tip{background: #ff7629;padding:2px;width:200px;}
.hhint .tip-title{background: #ff7629;padding: 0px 3px;height:17px;font: small-caps bold 11px Tahoma, Verdana, Arial, sans-serif;color:#FFFFFF;}
.hhint .tip-text{background: #ff7629;padding:3px;}
.hhint .tip-text,.hhint .tip-text p{font: 12px tahoma, verdana, arial, sans-serif;color:#ffffff;}

.cluetip-arrows {position: absolute;width: 0;height: 0;border-color: transparent;border-style: solid;}
.hhint.tip_top .cluetip-arrows { bottom: -5px;left: 50%;margin-left: -5px;border-width: 5px 5px 0;border-top-color: #ff7629;}
.hhint.tip_right .cluetip-arrows {top: 50%;left: -5px;margin-top: -5px;border-width: 5px 5px 5px 0;border-right-color: #ff7629;}
.hhint.tip_left .cluetip-arrows {top: 50%;right: -5px;margin-top: -5px;border-width: 5px 0 5px 5px;border-left-color: #ff7629;}
.hhint.tip_bottom .cluetip-arrows {top: -5px;left: 50%;margin-left: -5px;border-width: 0 5px 5px;border-bottom-color: #ff7629;}
.ihint .tip{background: #808080;padding:2px;color:#000000;}
.ihint .tip-title{padding: 0px 2px;font: small-caps bold 11px Tahoma, Verdana, Arial, sans-serif;color:#ffffff;}
.post_content ul, .post_content ol{list-style-position: outside;margin-left: 12px;padding: 0 0 0 12px;}.post_content ul, .post_content ol {margin: 0 0 10px 25px;padding: 0;}/* end runtime styles */
body{background:#39444e;}

#container{width:970px;margin: 0 auto;}
#topbar{width:840px;height:57px;position:relative;}
#mmenu{position:absolute;top:23px;left:0px;list-style-type:none;margin:0px;padding:0px;}
#mmenu li{float:left;display:inline;border: 1px solid #28343d;border-bottom: none;border-radius: 4px 4px 0px 0px;}
#splitbar{position:relative;height:18px;}
#smenu{position:absolute;top:0px;left:5px;list-style-type:none;margin:0px;padding:0px;}
#smenu li{float:left;display:inline;}
#footer{height:39px;position:relative;padding-bottom:14px;}
#xm1{background: #28343d;padding:20px;border-radius: 0px 4px 4px 4px;}


.mmenu{display:block;height:33px;color:#ffffff;font-size: 16px;line-height:33px;}
a.mmenu:link{color:#ffffff;text-decoration:none;padding: 0 14px;}
a.mmenu:hover,a.mmenu.active{text-decoration:none;background:#28343d;}
.smenu{padding-left:25px;display:block;height:24px;color:#000000;font-size: 11px;line-height:24px;}
a.smenu:link{color:#000000;text-decoration:none;}
a.smenu:hover,a.smenu#sa{background-position:0 -24px;color:#FFFFFF;text-decoration:none;}
.ssmenu{color:#000000;font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif;}
a.ssmenu:link{font-size:11px;color:#93A6B9;}
a.ssmenu:hover{font-size:11px;color:#000000;}

.pageheader{width:100%;}
h1{color: #ffffff;font-size:26px;}
h2{color: #ffffff;font-size:22px;margin-top: 18px; margin-bottom: 4px; border-bottom: 1px solid #ADCBE2;}
h3{color: #004180;font-size:13px;margin-top: 24px; margin-bottom: 8px;background: #F5F8FA;padding: 1px;border: 1px solid #E3F0FD;}
h4{color: #004180;font-size:13px;margin-top: 24px; margin-bottom: 8px; }

.block{min-height: 200px;text-align:left;box-shadow: 1px 1px 1px rgba(0,0,0,0.1);}
/*.div_header{background: none repeat scroll 0 0 #28343d;border-radius: 35px;display: inline-block;margin-top: 2px;padding: 4px 14px;text-align: left;}*/

.div_header{background: #28343d;border-radius: 0 0 8px;display: inline-block;padding: 4px 14px;}
.rvts80{background: none repeat scroll 0 0 #39444e;border-radius: 55px;display: inline-block;width: 93px;}

p {line-height: 160%; margin: 6px 0px 6px 6px;}
.news_t,.topic_t,.sub_t{vertical-align:middle;}
.hidden{display:none;}
